<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/layout :: head('Error - Hotel Management')}"></head>
<body class="app-body">
<div th:replace="~{fragments/layout :: sidebar}"></div>
<div class="app-wrapper">
    <header th:replace="~{fragments/layout :: topbar}"></header>
    <main class="main-content">
        <div th:replace="~{fragments/error-page :: content('!')}"></div>
    </main>
    <footer th:replace="~{fragments/layout :: footer}"></footer>
</div>
<div th:replace="~{fragments/layout :: modals}"></div>
<div th:replace="~{fragments/layout :: scripts}"></div>
</body>
</html>
